@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  
  --color-card: #18181b;
  --color-card-foreground: #fafafa;
  
  --color-popover: #18181b;
  --color-popover-foreground: #fafafa;
  
  --color-primary: #3b82f6;
  --color-primary-foreground: #f8fafc;
  
  --color-secondary: #27272a;
  --color-secondary-foreground: #fafafa;
  
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  
  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;
  
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
  
  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #d4d4d8;
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
